<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.BookMapper">
    <insert id="saveOne" parameterType="com.example.demo.eo.BookEo" useGeneratedKeys="true" keyProperty="id">
        insert into books(`isbn`,`book_name`,`author`,`publish_time`) values(#{isbn},#{bookName},#{author},#{publishTime});
    </insert>

    <select id="queryById" parameterType="Integer" resultType="com.example.demo.eo.BookEo">
        select `id`, `isbn`,`book_name`,`author`,`publish_time` from books where id = #{id}
    </select>

    <select id="listAll" resultType="com.example.demo.eo.BookEo">
        select `id`, `isbn`,`book_name` bookName,`author`,`publish_time` from books
    </select>

    <delete id="delete" parameterType="java.lang.Integer" >
        delete from books where id = #{id}
    </delete>

    <update id="update" parameterType="com.example.demo.dto.BookDto"  >
        update books
        <set>
            <if test="isbn != null and isbn != ''">
                `isbn` = #{isbn},
            </if>
            <if test="bookName != null and bookName != ''">
              `book_name` = #{bookName},
            </if>
            <if test="author != null and author != ''">
              `author` = #{author},
            </if>
            <if test="publishTime != null">
              `publish_time` = #{publishTime},
            </if>

        </set>
        where id = #{id}
    </update>

</mapper>